# Entorno virtual
.venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Configuración de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log