langchain==1.0.3
langchain-community==0.3.29
langchain-google-genai==2.1.10
langchain-groq==0.3.8
langchain-chroma==0.2.6
chromadb==1.0.20
pymupdf==1.26.4
python-dotenv==1.1.1
streamlit==1.49.1
sentence-transformers==5.1.0
langchain-huggingface